
@font-face {
  font-family: 'rockwell';
  src: url(../assets/FONTE/Rockwell.ttc);
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



img{
  cursor: pointer;
}

button{
  z-index: 1;
}


.slick-slide {
  border: none;
}

.slick-slide slick-active{
  border: none;
}

:root {
  --orange: #ffb700;
  --ocean: #05bd85;
  --pink: #ff008e;
  --pinkdark: #dd047b;
  --green_button: #00c600;
  --darkgreen_button: #007200;
  --yellow_button: #ffb000;
  --darkred_button: #950a0a;
  --red_button: #ff0000;
}
