.container_finish{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title_finish{
    font-size: 2em;
}
.happyface{
    font-size: 20em;
    color: #fff;
    margin-top: 60px;
}

.container_logo_finish{
    display: flex;
    justify-content: center;
}

.container_face{
    display: flex;
    justify-content: center;
    align-items: center;
}


img#logo_finish{
    margin-top: 300px;
}

.last-manssage{
    margin-top: 40px;
}

@media only screen and (max-width: 750px){
    .title_finish{
        font-size: 1.2em;
        text-align: center;
    }
    
    .happyface{
        font-size: 12em;
        margin-bottom: 40px;
    }

    img#logo_finish{
        position: relative;
        top: 170px;
        width: 140px;
    }

    .container_finish{
        margin-top: 40px;
    }

    img#logo_finish{
        margin-top: 50px;
    }

    .container_p_finish{
        max-width: 300px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .title_finish{
        max-width: 1200px;
        font-size: 2em;
    }

    .happyface{
        font-size: 10em;
    }

    p{
        font-size: 1.7em;
    }

    img#logo_finish{
        position: relative;
        top: 180px;
        width: 150px;
    }

        img#logo_finish{
        margin-top: 0px;
    }
    
}

@media only screen and (min-width: 1367px){
    .title_finish{
        max-width: 1200px;
        font-size: 2em;
    }
    .happyface{
        font-size: 13em;
        margin-bottom: 90px;
    }
    p{
        font-size: 1.7em;
    }

    .last-manssage{
        margin-top: 40px;
    }

    .container_finish{
        margin-bottom: 100px;
    }

    img#logo_finish{
        position: relative;
        top: 120px;
    }
}