.container_logo_finish{
    display: flex;
    justify-content: center;
}

.container_logo_finish img{
    width: 200px;
}

.container_main_finish{
    display: block;
    margin: 0 auto;
    max-width: 370px;
}

.container_main_finish h1{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

h1#saojoao{
    font-size: 1.4em;
    max-width: 350px;
}

.title-saojoao{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .container_logo_finish img{
        width: 450px;
    }

    .container_main_finish{
        font-size: 1.5em;
        text-align: center;
        max-width: 700px;
    }

    h1#saojoao{
        max-width: 800px;
    }
}

@media screen and (min-width: 1280px){
    .container_finish header img{
        width: 500px;
    }

    .container_finish{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .container_main_finish{
        max-width: 600px;
    }

    .container_main_finish h1{
        font-size: 2em;
    }

    h1#saojoao{
        max-width: 800px;
        font-size: 1.8em;
    }
}

@media screen and (min-width: 1920px) {
    .container_finish{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_main_finish{
        margin-top: 250px;
    }

    .container_finish header img{
        position: relative;
        left: 100px;
        width: 700px;
    }

    .container_main_finish{
        max-width: 750px;
        margin-bottom: 220px;
        
    }

    .container_main_finish h1{
        position: relative;
        right: 100px;
        text-align: justify;
    }

    h1#saojoao{
        font-size: 2em;
    }
}
