
.container_logo_question9 img{
    width: 140px;
}

.container_geral_question9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_logo_question9{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_section_question9{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container_section_question9 p{
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}


.selected-cantores{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}
.selected-cantores button{
    background-color: #ff008e;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}

.selected-cantores p{
    color: #fff;
    font-weight: bold;
}

.container_button_question9{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container_button_question9 button{
    padding: 10px 20px;
    width: 310px;
    border-radius: 50px;
    color: #fff;
    background-color: #1D46BB;
    font-weight: bold;
    font-size: 1.2em;
    border: 3px solid #fff;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .container_logo_question9 img{
        width: 250px;
    }

    .container_section_question9 p{
        font-size: 2.2em;
        margin-bottom: 50px;
    }
    
    .container_cantores_question9{
        display: flex;
        gap: 70px;
    }

    .container_cantores_question9 button{
        padding: 17px 37px;
        font-size: 1.7em;
        border: 5px solid #fff;
        border-radius: 45%;
        margin: 10px 0px;
    }
    
    .container_cantores_question9 p{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .container_logo_question9 {
      display: none;
    }
  
    .container_geral_question9 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100px;
      margin-top: 140px;
    }
  
    .container_section_question9 p {
      font-size: 2.5em;
      text-align: left;
      font-weight: bolder;
      margin-left: 15px;
    }
  
    .container_cantores_question9 {
      margin-right: 20px;
      display: flex;
      gap: 50px;
    }

    .container_cantores_question9 div button{
        margin: 10px 0px;
    }

    button#cantorselect{
        cursor: pointer;
    }

    button#cantorselect:hover{
        cursor: pointer;
        background-color: #df027b;
    }

    .container_cantores_question9 p{
        cursor: pointer;
    }
  }
  
