@media only screen and (max-width: 750px) {
    .title{
        margin-top: 100px;
        max-width: 400px;
        font-size: 1.1em;
    }

    .block{
        font-size: 2em;
        width: 70px;
        height: 90px;
    }

    span#opcaonumerica{
        position: relative;
        top: 13px;
    }

    p#mediravaliacao{
        display: none;
    }

    img#logo_question4{
        position: absolute;
        top: -30px;
        width: 150px;
    }

    button#button_question9{
        padding: 30px 50px;
    }

    img#logo_question9{
        position: absolute;
        top: -20px;
        width: 150px;
    }

    .nota_question9{
        display: none;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1366px){
    img#logo_question9{
        position: fixed;
        bottom: 10px;
        width: 150px;
    }
  }

  @media only screen and (min-width: 1367px){
    img#logo_question9{
        position: fixed;
        bottom: 0;
    }
  }