

h1{
    margin-bottom: 20px;
}

label{
    font-size: 2em;
    margin-left: 5px;
}

span#mais{
    color: rgb(43, 255, 0);
}

button#button_7{
    position: relative;
    bottom: 80px;
}

img#logo_question7{
    position: absolute;
    transform: translateY(-10%);
}

.especifique{
    
}

@media only screen and (max-width: 750px) {
    .question-title{
        position: relative;
        top: 60px;
        font-size: 1.3em;
    }
    .container{
        font-size: 1em;
    }

    button#button_7{
        position: relative;
        top: -70px;
        padding: 10px 20px;
    }

    img#logo_question7{
        display: none;
    }

    .container_input_especifique{
        display: flex;
        justify-content: center;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1366px){
    img#logo_question7{
        display: none;
    }

    .question-title{
        position: relative;
        top: 10px;
        font-size: 1.7em;
    }
  }

  @media only screen and (min-width: 1367px){
    img#logo_question7{
        display: none;
    }

    .container_input_especifique{
        display: flex;
        justify-content: center;
    }
  }