@media screen and (max-width: 767px){
    .section_question3 p{
        font-size: 1.5em;
    }
    .container_logo_question3{
        display: flex;
        justify-content: center;
    }

    .section_question3{
        display: flex;
        justify-content: center;
    }

    .section_question3 p{
        color: #fff;
    }

    .container_logo_question3 img{
        width: 140px;
    }

    .container_button_question3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container_button_question3 button{
        padding: 13px 20px;
        width: 80px;
        border-radius: 50px;
        color: #fff;
        background-color: #1D46BB;
        font-weight: bold;
        font-size: 1.2em;
        border: 3px solid #fff;
        margin-top: 30px;
    }
    .container_button_question3 button:hover{
        background-color: #2253d8;
    }
    div#button_nextquestion{
        display: flex;
        justify-content: center;
    }
    div#button_nextquestion button{
        width: 300px;
    }
}