img{
    width: 135px;
    transition: transform .3s ease-in-out;
}
img#muitobom{
    position: relative;
    right: 10px;
}

img:hover{
    transform: scale(1.1);
}

.container-bonecos{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 25px;
}

.container-bonecos p {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 210px;
}

.container-bonecos img{
    width: 120px;
}

.card{
    transition: transform .3s ease-in-out;
}

.card.selected {
    transform: scale(1.1) translateX(5px); /* Adjust the translateX value as needed */
}

.card:hover{
    transform: scale(1.1);
}



.container_button{
    position: relative;
    top: 100px;
}

img#container3{
    position: absolute;
    bottom: -100px;
}

@media only screen and (max-width: 750px) {
    h1#title_question3{
        position: relative;
        top: 60px;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        font-size: 1.5em;
    }
    .container-bonecos{
        margin-top: 120px;
    }

    .container-bonecos img{
        width:60px;
    }

    button#button_question3{
        padding: 30px 50px;
    }

    img#container3{
        position: fixed;
        bottom: 0;
        width: 140px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    img#container3{
        display: none;
    }

    h1#title_question3{
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 1367px){
    img#container3{
        position: fixed;
        width: 150px;
        bottom: 5px;
    }

    h1#title_question3{
        font-size: 3em;
        margin-bottom: 60px;
    }

    .container-bonecos img{
        width: 180px;
        margin: 0px 20px;
    }

    button#button_question3{
        padding: 50px 350px;
    }
}