/*desktop*/
:root {
    --orange: #ffb700;
    --ocean: #05bd85;
    --pink: #ff008e;
    --pinkdark: #dd047b;
    --green_button: #00c600;
    --darkgreen_button: #007200;
    --yellow_button: #ffb000;
    --darkred_button: #950a0a;
    --red_button: #ff0000;
}

.title-white{
    color: #fff;
    font-size: 3em;
    text-align: left;
    margin-bottom: 30px;
}

.first-section-question1 img{
   display: none;
}

.container_main_geral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container_button{
    display: flex;
    flex-direction: column;
}

.container_button button{
    margin: 20px 0px;
    padding: 20px 60px;
    border-radius: 50px;
    color: #fff;
    border: 3px solid #fff;
    font-weight: bolder;
    cursor: pointer;
}

button#green{
    background-color: var(--green_button);
}

button#darkgreen{
    white-space: nowrap;
    background-color: var(--darkgreen_button);
}

button#yellow{
    white-space: nowrap;
    background-color: var(--yellow_button);
}

button#darkred{
    background-color: var(--darkred_button);
}

button#red{
    white-space: nowrap;
    background-color: var(--red_button);
}

button#green:hover{
    background-color: #01ad01;
}

button#darkgreen:hover{
    white-space: nowrap;
    background-color: #016101;
}

button#yellow:hover{
    white-space: nowrap;
    background-color: #e29b01;
}

button#darkred:hover{
    background-color: #860909;
}

button#red:hover{
    white-space: nowrap;
    background-color: #da0303;
}

.container_button_question1 button{
        background-color: #1D46BB;
}

.container_button_question1 button:hover{
    background-color: #183b9c;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .container_main_geral {
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: relative;
        bottom: 50px;
    }
    .first-section-question1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .first-section-question1 img{
        display: block;
        width: 250px;
    }

    .title-white{
        text-align: center;
        font-size: 2.2em;
        margin-bottom: 30px;
    }
    .container_button button{
        padding: 20px 100px;
        font-size: 1.5em;
    }
    
}

/* Celular */
@media screen and (max-width: 767px) {
    .container_main_geral {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .first-section-question1{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .title-white {
        text-align: center;
        font-size: 1.5em;
        margin: 10px 0;
    }

    .container_button {
        justify-content: center;
    }

    .container_button button {
        margin: 15px 0;
        padding: 15px 50px;
    }
}

/* Dispositivos grandes */
@media screen and (min-width: 1024px) {
    .container_main_geral {
        gap: 300px;
    }

    .container_button button{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1920px) {
    .container_main_geral{
        margin-top: 130px;
    }
}