@media screen and (min-width: 768px) and (max-width: 1280px){
    .container_cantores_question10{
        display: flex;
        gap: 70px;
    }

    .selected-cantores button{
        padding: 17px 30px;
        font-size: 1.7em;
        border: 3px solid #fff;
        border-radius: 45%;
        margin: 10px 0px;
    }
    
    .selected-cantores p{
        font-size: 1.3em;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1280px){
    .container_cantores_question10{
        display: flex;
        gap: 50px;
    }

    .selected-cantores button{
        margin: 10px 0px;
    }

    button#cantorselect{
        cursor: pointer;
    }

    button#cantorselect:hover{
        cursor: pointer;
        background-color: #df027b;
    }

    .selected-cantores p{
        cursor: pointer;
    }
}

@media screen and (min-width: 1920px) {
    .container_geral_question9{
        margin-top: 200px;
    }
}