.container_logo_question6 img {
    width: 130px;
}

.container_logo_question6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_section_question6 {
    display: flex;
    justify-content: center;
}

.container_section_question6 p {
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container_section2_question6 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.container_section2_question6 div img{
    width: 30px;
}

.container_section2_question6 div{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 10px;
}



.container_section2_question6 div button {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-size: 1.5em;
    border-radius: 30px;
    padding: 5px;
    width: 280px;
    margin: 10px 0px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.container_button_question4 button {
    margin: 10px;
}
