.container_logo_question7 img{
    width: 140px;
}

.container_logo_question7{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_section_question7{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_section_question7 p{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    font-family: 'rockwell';
    margin-bottom: 20px;
}
.container_button_question7{
    display: flex;
    justify-content: center;
}
.container_button_question7 button{
    padding: 10px 20px;
    width: 310px;
    border-radius: 50px;
    color: #fff;
    background-color: #1D46BB;
    font-weight: bold;
    font-size: 1.2em;
    border: 3px solid #fff;
}

.container_button_question7 button{
    margin-top: 150px;
}
.container_section_question7{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.container_section_question7 img{
    width: 70px;
}

#star{
    color: #fff;
}

.check-box-star{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pessimo{
    margin-right: 94px;
}

.ruim{
    margin-right: 70px;
}

.indiferente{
    margin-right: 43px;
}

.bom{
    margin-right: 16px ;
}

.muitobom{
    margin-left: 8px;
}