.container_header_question4{
    display: flex;
    justify-content: center;
}

.container_header_question4 img{
    width: 120px;
}

.container_section_question4{
    display: flex;
    justify-content: center;
}



.container_section_question4 p{
    color: #FFF;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
}

.container_section2_question4{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container_geral_question4_ {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  
}

.container_section2_question4 div{
    display: flex;
    justify-content: flex-start;
}

.checkbox-item{
    margin-bottom: 25px;
    margin-left: 10px;
}

.checkbox-item label{
    font-size: 1.4em;
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
}

.container_button_question4{
    display: flex;
    justify-content: center;
}

.container_button_question4 button{
    padding: 10px 20px;
    width: 310px;
    border-radius: 50px;
    color: #fff;
    background-color: #1D46BB;
    font-weight: bold;
    font-size: 1.2em;
    border: 4px solid #fff;
}

.container_section2_question4 > :first-child {
    margin-top: 10px;
}

.container_button_question4{
    margin-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1280px){
    .container_header_question4 img{
        width: 250px;
    }
    input[type="checkbox"]{
        width: 35px;
        height: 35px; 
    }

    .container_section_question4 p{
        font-size: 2.2em;
    }

    .checkbox-item label{
        font-size: 2em;
    }

}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .container_header_question4 img{
        display: none;
    }

    .container_geral_question4_main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 100px;
        margin-top: 60px;
    }

    .container_section_question4 p{
        text-align: left;
        max-width: 300px;
        font-size: 3em;
    }

    input[type="checkbox"]{
        width: 30px;
        height: 30px; 
    }

    .container_button_question4{
        margin-left: 520px;
    }
}

