body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 140px;
}


.checkbox {
  width: 145px;
  height: 100px;
  border-radius: 10px;
  margin-top: 90px;
  cursor: pointer;
}

.checkbox p {
  color: #fff;
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.error_message_question1{
  position: relative;
  top: 50px;
  color: rgb(255, 0, 0);
}

.container_box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10px;
}

div#red {
  background-color: red;
}

div#red_light {
  background-color: rgb(248, 40, 40);
}

div#yellow {
  background-color: yellow;
}

div#green_light {
  background-color: rgb(10, 192, 10);
}

div#green {
  background-color: green;
}

.container_button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

.checkbox:hover {
  border: 2px solid #fff;
}

.logosaojoao {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;
}

.logosaojoao img {
  width: 210px;
}

img#logo_question1 {
  position: absolute;
  bottom: -35px;
}

@media only screen and (max-width: 750px) {
  .title_question1 {
      position: relative;
      transform: translateY(140%);
      display: block;
      margin: 0 auto;
      max-width: 300px;
      font-size: 1.3em;
  }

  .error_message_question1{
    position: relative;
    top: 105px;
    color: rgb(255, 0, 0);
  }

  .checkbox {
      position: relative;
      transform: translateY(120%);
      width: 160px;
      height: 80px;
      border-radius: 10px;
      margin-top: 90px;
  }

  .container_box {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .error_message{
    position: relative;
    bottom: 0;
  }
  

  button#button_question1 {
      position: relative;
      top: 15px;
      margin: 0;
      padding: 20px 40px;
  }

  img#logo_question1 {
      display: none;
  }


}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  img#logo_question1{
    position: fixed;
    bottom: 10px;
    width: 150px;
  }

  button#button_question1{
    position: relative;
    bottom: 50px;
    padding: 15px 90px;
  }
}
@media only screen and (min-width: 1367px) {
  img#logo_question1{
    position: fixed;
    bottom: 10px;
    width: 150px;
  }

  .container_box p{
    position: relative;
    top: 10px;
  }
}

