span#mais{
    color: rgb(0, 255, 64);
}

button#button_7{
    padding: 20px 50px;
    margin-bottom: 35px;
}

.container_geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 170px;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .question-title{
        font-size: 2em;
        margin-top: 270px;
    }

    button#button_7{
        position: relative;
        bottom: 100px;
        padding: 30px 130px;
    }

    .container{
        font-size: 1.2em;
    }
}
