input{
    width: 600px;
    height: 45px;
    font-size: 20px;
    border: none;
}

input:focus{
    outline: 0;
}

.title-question{
    text-align: center;
}

button#button_questions{
    position: relative;
    top: 70px;
    width: 630px;
}

img#logo_questions{
    position: fixed;
    top: 800px;
}

@media only screen and (max-width: 600px) {
    .inputoptional{
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    
    .title-question{
        
    }

    button#button_questions{
        width: 400px;
        padding: 20px 10px;
    }
  }

