span#menos{
    color: red;
}

img#logo_question8{
    position: absolute;
    bottom: -140px;
}

button#button_question8{
    position: relative;
    bottom: 40px;
}

@media only screen and (max-width: 750px) {
    .question-title{
        position: relative;
        top: 30px;
        font-size: 1.2em;
    }
    .container{
        font-size: 1em;
    }

    button#button_question8{
        position: relative;
        top: -70px;
        padding: 10px 20px;
    }

    img#logo_question8{
        display: none;
    }
  }