span#menos{
    color: red;
}

img#logo_question8{
    position: absolute;
    bottom: -140px;
}

button#button_question8{
    position: relative;
    bottom: 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .container_geral_question8{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 180px;
    }
}

@media only screen and (max-width: 750px) {
    .question-title{
        position: relative;
        top: 30px;
        font-size: 1.2em;
    }
    .container{
        font-size: 1em;
    }

    button#button_question8{
        position: relative;
        top: -70px;
        padding: 10px 20px;
    }

    img#logo_question8{
        display: none;
    }
    .container_geral{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        left: 8px;
    }

    .container_geral_question8{
        margin-left: 97px;
    }
  }

  @media only screen and (min-width: 1367px){
    .container_geral_question8{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 210px;
    }
}