body{
    
}
.avaliar{
    display: flex;
    align-items: center;
}

.avaliar span{
    margin-top: 15px;
}
img#carinhas-avaliar{
    width: 130px;
    margin-top: 50px;
    transition: transform .3s ease-in-out;
}
span#avaliar-carinhas{
    color: #fff;
    font-size: 1.3em;
    position: relative;
    top: 15px;
    
}

img:hover{
    transform: scale(1.3);
}