input{
    width: 600px;
    height: 45px;
    font-size: 20px;
    border: none;
}

input:focus{
    outline: 0;
}

.title-question{
    text-align: center;
}

button#optional_button{
    position: relative;
    top: 70px;
    width: 630px;
}

img#logo_questions{
    position: fixed;
    top: 800px;
}

img#optional_logo{
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 750px) {
    .inputoptional{
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    
    .title-question{
        
    }

    button#button_questions{
        width: 400px;
        padding: 20px 10px;
    }
    .container_inputs{
        display: flex;
        justify-content: center;
    }
    input{
        width: 300px;
    }

    img#optional_logo{
        display: none;
    }

    button#optional_button{
        padding: 20px 30px;
        width: 400px;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1366px){
    img#optional_logo{
        display: none;
    }
  }

  @media only screen and (min-width: 1367px)
  {
    img#optional_logo{
        width: 140px;
    }

    .container_question_optional{
        margin-bottom: 120px;
    }
  }
